* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

html {
    background-color: #ddd;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}

.row {
    width: 850px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.section {
    padding-top: 25px;
    padding-bottom: 25px;
}

.section__title {
    text-align: center;
    font-size: 200%;
    font-weight: 400;
}

.section__title:after {
    display: block;
    height: 2px;
    background-color: #333;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}